#panels-module .mod_text {
  padding-right: 5px;
  color: black;
  font-size: 16px; }

#panels-module .mod_sel {
  height: 26px; }

#panels-module .mod_btn {
  background-color: red;
  border: 2px solid red;
  color: white;
  font-weight: bold; }

#panels-module .checkbox {
  position: relative;
  padding-left: 25px; }
  #panels-module .checkbox input[type=checkbox] {
    display: none; }
  #panels-module .checkbox label:after {
    content: '';
    display: block;
    height: 14px;
    width: 14px;
    outline: 1px solid gray;
    position: absolute;
    top: 0;
    left: 0; }
  #panels-module .checkbox input[type=checkbox]:checked + label:after {
    outline: 1px solid gray;
    border: 2px solid #fff;
    width: 14px;
    height: 14px;
    background-color: red; }

#panels-module a.price {
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none; }
  #panels-module a.price:hover {
    color: red;
    text-decoration: none; }

#panels-module .save {
  margin-left: 20px;
  border: 2px solid red;
  border-radius: 5px; }
  #panels-module .save:hover {
    background-color: gray; }

#panels-module input {
  margin: 0px;
  height: 100%;
  border-radius: 0px; }

#panels-module .listItem {
  display: inline-block;
  float: none; }
